{% extends 'base_email.html' %}

{% block subject %}
  There’s a place for you — TownLIT
{% endblock %}

{% block content %}
  <p>
    <strong>Grace and peace to you, dear {{ first_name|default:'Friend' }}</strong>,
  </p>
  <br>

  <p>
    Some spaces begin with noise.<br>
    TownLIT began with <strong>prayer</strong>, <strong>patience</strong>, and a <strong>quiet hope</strong> — the kind that grows slowly, shaped by people rather than systems, and by presence rather than speed.
  </p>

  <p>
    It’s becoming a living place where faith, reflection, and genuine connection meet, and where each person who enters helps shape what this city is becoming.
  </p>

  <p>
    We simply wanted to let you know that you’re <strong>warmly welcome to join</strong> and become part of this growing journey. If and when you’re ready, you can use your personal invitation code below:
  </p>

  <div class="email-code-container">
    <div class="text-code-box">YOUR PERSONAL INVITATION CODE</div>
    <div class="code-box">{{ invite_code }}</div>
  </div>

  <p>
    Your invitation code is still active. By clicking the link below, you can enter the registration page and complete a quick sign-up — it takes <strong>less than 1 minute</strong> to join the TownLIT family.
  </p>

  <div class="email-button-container">
    <a href="https://townlit.com/register" class="email-button">Step into TownLIT</a>
  </div>

  <p class="email-reflection">
    “The city does not need the sun or the moon to shine on it, for the glory of God gives it light, and the Lamb is its lamp.”<br />
    <span style="font-size: 14px;">– Revelation 21:23</span>
  </p>

  <p>
    We’d be honored to have you with us as TownLIT continues to grow and take shape. The platform is being actively developed, with new and unique features being added regularly, and you’ll be notified as each new section becomes available.
  </p>

  <p class="email-signature">
    With warmth and peace,<br />
    TownLIT
  </p>
{% endblock %}
