# =============================
# 🐍 Python-specific ignores
# =============================
__pycache__/
*.py[cod]
*.sqlite3
*.log

# =============================
# 🧪 Virtual Environments
# =============================
.env/
venv/
ENV/

# =============================
# 🛠️ Django-specific
# =============================
media/
staticfiles/
!static/.keep
.information

# =============================
# 🛡️ Environment & Secrets
# =============================
.env
.env.production
.env.example
.dockerignore

# =============================
# ⚙️ Local Config & Entrypoints
# =============================
entrypoint_worker.sh
entrypoint_backend.sh
docker-compose.override.yml
docker-compose.worker.yml
docker-compose.yml
Dockerfile

Procfile

# =============================
# 🧪 App-specific user data or scripts
# =============================
accounts/scripts/data/*.json

# =============================
# 🧠 IDE/editor ignores
# =============================
*.swp
*.swo
*.idea/
.vscode/

# =============================
# 🧬 OS-specific junk
# =============================
.DS_Store
Thumbs.db

# Ignore CKEditor static files
static/ckeditor/ckeditor/

townlit_b/service-account.json
