{% extends "admin/change_form.html" %}

{% comment %}
apps/bookstore_inventory/templates/admin/bookstore_inventory/change_form_with_workflow.html

TownLIT

Created by Hossein Sakkaki on 2026-04-01.
Last Update by Hossein Sakkaki on 2026-08-17.
{% endcomment %}

{% block object-tools-items %}
  {{ block.super }}

  {% for action in townlit_workflow_actions %}
    <li>
      <a
        href="{{ action.url }}"
        style="
          font-weight:700;
          {% if action.tone == 'danger' %}
            background:#b91c1c;
          {% elif action.tone == 'warning' %}
            background:#b45309;
          {% else %}
            background:#0F52BA;
          {% endif %}
          color:#fff;
        "
      >
        {{ action.label }}
      </a>
    </li>
  {% endfor %}
{% endblock %}