<div class="content">
    <p>Dear Friend,</p>
    <p><strong>{{ username }}</strong> has activated their <strong>Destructive PIN</strong>. This could indicate they are in a dangerous or distressing situation.</p>
    <p>Please check on them immediately. If you believe they are at risk, consider taking necessary actions to ensure their safety.</p>
        
    <a href="{{ profile_link }}" class="button">View Profile</a>
    <p>If you have any questions or need further assistance, please contact our support team.</p>
</div>

