{% extends "admin/change_form.html" %}

{% block object-tools-items %}
{{ block.super }}
{% if original %}
<li>
    <a href="{% url 'accounting_admin:accounting-banking-workspace' %}?bank_account={{ original.bank_account_id }}" class="viewsitelink">
        Open Banking Workspace
    </a>
</li>
{% endif %}
{% endblock %}

{% block submit_buttons_bottom %}
{{ block.super }}
{% if not original or original.status == 'imported' %}
<div class="submit-row">
    <input type="submit" value="Save & Process Statement" name="_process_statement" class="default">
</div>
{% endif %}
{% endblock %}
